/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirLTStd-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-Bold.otf');
    font-weight: bold;
}


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000067;
    font-family: 'Avenir Next';
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

.app {
    background: url(../img/app-bg.jpg) center center no-repeat;
    color: white;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.app::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(17, 36, 255, 0.84);
}

.app__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3%;
    /* z-index: 1; */
    height: 10%;
    padding: 0 3%;
}

.app__nav--menu {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #ff00f9;
    padding: 16px 15px;
    position: relative;
    z-index: 11;
    overflow: hidden;
}

.app__nav--menu>div {
    width: 20px;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: 3px 0;
    transition: all 0.2s ease-in-out;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.app__nav--menu>div:nth-child(2) {
    width: 15px;
}

.app__nav--menu:hover>div:nth-child(2) {
    width: 20px;
}

.app__nav--menu.open>div:nth-child(1) {
    transform: rotate(45deg) translateY(-3px);
    height: 3px;
    width: 22px;
}

.app__nav--menu.open>div:nth-child(2) {
    opacity: 0;
}

.app__nav--menu.open>div:nth-child(3) {
    transform: rotate(-45deg) translateY(3px);
    height: 3px;
    width: 22px;
}

.app__nav--logo img {
    width: 75%;
    height: auto;
    position: relative;
}

.app__scene {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    transform: rotate(-4deg);
}

.app__scene .app__scene--left>li:nth-child(2) {
    margin-left: -30%;
}

.app__scene .app__scene--right>li:nth-child(1) {
    margin-left: 30%;
}

.app__scene ul {
    list-style: none;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app__content {
    position: relative;
    margin: 0 auto;
    z-index: 5;
    height: 100%;
    padding: 10% 0px;
}

.app__content h1 {
    font-size: 52px;
    font-weight: bold;
    text-shadow: 6px 6px #000000;
}

.app__content p {
    font-size: 20px;
    margin: 5% 0;
}

.app__content h2 {
    margin: 20% 0;
    font-size: 24px;
    font-weight: 400;
}

.app__content button {
    border: none;
    background: #00cbff;
    cursor: pointer;
    color: #ffffff;
    margin-top: 0;
    padding: 5% 15%;
    border-radius: 50px;
    font-size: 20px;
    position: relative;
    transition: all 0.25s;
}

.app__content button:hover {
    box-shadow: 0 4px 8px 0 rgba(11, 137, 187, 0.5);
    transform: translate(-3px, -3px);
}


/* ==========================================================================
    Navigation section
   ========================================================================== */

.app-nav-wrapper {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 1;
    background: #000067;
    position: fixed;
    z-index: 10;
    transition: all 0.25s ease-in;
}

.app-nav-wrapper__content {
    list-style: none;
    padding: 0;
}

.app-nav-wrapper__content li {
    color: #ffffff;
    font-size: 2rem;
    margin: 10% 0;
    cursor: pointer;
    font-weight: 500;
}


/* ==========================================================================
    About section
   ========================================================================== */

.app__timer {
    position: absolute;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -50px;
    width: 90%;
    height: 100px;
    left: 5%;
    border-radius: 10px;
    box-shadow: 0 6px 10px 0 rgba(141, 141, 141, 0.5);
    z-index: 10;
}

.app__timer p {
    color: #535353;
    margin: 0;
    font-size: 1.2rem;
}

.app-about {
    height: 100vh;
    position: relative;
    z-index: 9;
}

.app-about__title {
    align-items: center;
    background-color: #faff00;
    display: flex;
    height: 20%;
    justify-content: center;
}

.app-about__title h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 25%;
}

.app-about__logo img {
    margin-top: 25%;
    max-width: 80%;
    height: auto;
}

.app-about__content {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80%;
    padding: 0 10%;
}

.app-about__content p {
    color: #535353;
    font-size: 1.3rem;
    margin: 0;
}


/* ==========================================================================
    Message section
   ========================================================================== */

.app-message {
    background-color: #9bffc6;
    height: 80vh;
}

.app-message__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7% 5%;
    transition: all 0.25s ease-in;
}

.app-message__content .message__content--msg {
    color: #ffffff;
    font-size: 1.3rem;
    position: relative;
    text-align: left;
    z-index: 1;
}

.octicon {
    position: absolute;
    top: -10px;
    left: -5px;
    z-index: -1;
}

.app-message__content .message__content--auth {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

.message__content--auth ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.message__content--auth ul>li {
    border-radius: 50%;
    border: 4px solid #ffffff;
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.message__content--auth ul>li:nth-child(1) {
    margin-right: 10px;
}

.message__content--auth ul>li.active {
    background: #ffffff;
}

.message__content--auth p {
    color: #535353;
    font-size: 1.45rem;
    margin: 0;
}

.app-message__image {
    background: url(../img/msg-bg.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}


/* ==========================================================================
    Event section
   ========================================================================== */

.app-event {
    height: 100vh;
}

.app-event__title {
    align-items: center;
    background-color: #ff0053;
    display: flex;
    height: 20%;
    justify-content: center;
}

.app-event__title h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
}

.app-event__tile {
    background: #ffffff;
    height: 80%;
    padding: 0;
    cursor: pointer;
}

.app-event__tile .event__tile {
    height: 50%;
    background: #ffffff;
    width: 50%;
    float: left;
    padding: 10% 5%;
}

.app-event__tile .event__tile:nth-of-type(1) {
    background: #d4d4d4;
}

.app-event__tile .event__tile:nth-of-type(4) {
    background: #d4d4d4;
}

.app-event__tile .event__tile>h2 {
    margin-bottom: 15px;
}

.app-event__tile .event__tile>p {
    color: #999999;
}


/* ==========================================================================
   Events description section
   ========================================================================== */

.app-event-desc {
    height: 100vh;
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
    opacity: 1;
    background: #fff;
    position: fixed;
    z-index: 11;
    overflow: scroll;
    transition: all 0.25s ease-in;
}

.app-event-desc__head {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
}

.event-desc__head--title {
    text-align: left;
}

.event-desc__head--title>h1 {
    font-size: 2rem;
    font-weight: bold;
}

.event-desc__head--title>p {
    margin: 0;
    font-weight: 500;
    color: #999999;
}

.event-desc__head--cross {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #AEAEAE;
    padding: 16px 15px;
    overflow: hidden;
}

.event-desc__head--cross>div {
    width: 20px;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: 4px 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.event-desc__head--cross>div:nth-child(1) {
    transform: rotate(45deg) translateY(-6px);
    height: 3px;
    width: 22px;
}

.event-desc__head--cross>div:nth-child(2) {
    transform: rotate(-45deg) translateY(6px);
    height: 3px;
    width: 22px;
}

.event-desc__content {
    width: 100%;
}

.event-desc__content .desc-content {
    margin: 5% 0;
    text-align: left;
}

.event-desc__content .desc-content>h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

.event-desc__content .desc-content>p {
    font-size: 0.9rem;
}

.event-desc__content .desc-content>h3 {
    font-size: 1.2rem;
}

.event-desc__content .desc-content>h4 {
    font-size: 1.1rem;
}

.event-desc__content .desc-content>ul {
    list-style: none;
}

.event-desc__content .desc-content>ul>li {
    margin: 4% 2%;
    font-size: 0.9rem;
}

.event-desc__content .desc-link {
    display: flex;
    align-items: center;
    margin: 6% 0;
}

.event-desc__content .desc-link>p {
    margin: 0;
    font-weight: bold;
}

.event-desc__content .desc-link>i {
    margin-left: 3%;
    font-size: 1.3rem;
    color: #3b5998;
}

.event-desc__content .desc-seperator {
    height: 50px;
    overflow: hidden;
    position: relative;
}

.event-desc__content .desc-seperator::before,
.event-desc__content .desc-seperator::after {
    content: '';
    height: 4px;
    width: 30%;
    position: absolute;
    background: #f1f1f1;
    top: 26px;
}

.event-desc__content .desc-seperator::before {
    left: 0;
}

.event-desc__content .desc-seperator::after {
    right: 0;
}

.event-desc__content .desc-seperator>img {
    height: 60%;
    width: auto;
    margin: 4% 5px;
}

/* ==========================================================================
    Team section
   ========================================================================== */

.app-team {
    height: auto;
}

.app-team__title {
    align-items: center;
    background-color: #7c00ff;
    display: flex;
    height: 20vh;
    justify-content: center;
}

.app-team__title h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
}

.app-team__content {
    padding: 0;
}

.app-team__content .team__content--tile {
    height: 33.33vw;
    width: 33.33vw;
    float: left;
    overflow: hidden;
    position: relative;
}

.app-team__content .team__content--tile>img {
    max-width: 100%;
    height: auto;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  height: 100%;
  width: 100%;
  background: rgba(29, 106, 154, 0.72);
  /*border: 1px solid white;*/
  transition: opacity .2s, visibility .2s;
}

.overlay p {
  margin-top: 50%;
  font-size: 1.3em;
}

 .team__content--tile:hover .overlay {
  visibility: visible;
  opacity: 1;
}


/* ==========================================================================
    Sponsor section
   ========================================================================== */

.app-sponsor {
    height: auto;
    background-color: #00d8ce;
}

.app-sponsor__content h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-sponsor__content ul {
    list-style: none;
    padding: 0;
}

.app-sponsor__content ul>li {
    margin-bottom: 7%;
    width: 200px;
    margin-left: calc((100% - 200px)/2);
}

.app-sponsor__content ul>li>img {
    max-width: 100%;
    height: auto;
}

.app-sponsor__content button {
    border: none;
    color: #ffffff;
    cursor: pointer;
    margin: 6% auto;
    padding: 5% 10%;
    border-radius: 100px;
    background-color: #000067;
    transition: all 0.25s;
}

.app-sponsor__content button:hover {
    box-shadow: 0 4px 8px 0 rgba(2, 188, 179, 0.5);
    transform: translate(-3px, -3px);
}

.app-sponsor__image {
    background: url(../img/ty-bg.png) center center no-repeat;
    background-size: cover;
    position: relative;
}


/* ==========================================================================
    Footer
   ========================================================================== */

.footer {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #181818;
    color: #ffffff;
    padding: 0 5%;
}

.footer p {
    margin-bottom: 0;
}

.footer ul {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul>li>a:link, .footer ul>li>a:visited, .footer ul>li>a:hover, .footer ul>li>a:active {
  text-decoration: none;
  color: white;
}

/* .footer ul>li {
    height: 25px;
    width: 25px;
    overflow: hidden;
} */

/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Disable scroll on element
 */

.no-scroll {
    overflow: hidden;
}


/*
 * Hide element for mobile devices
 */

@media (max-width:767px) {
    .hidden-xs {
        display: none !important
    }
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    min-height: 0;
    opacity: 0;
    pointer-events: none;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-device-width: 768px) {
    .app__scene {
        width: 60%;
        left: 20%;
    }
    .app__content {
        padding: 5% 0;
    }
    .app__scene .app__scene--left>li:nth-child(1) {
        margin-left: -100%;
    }
    .app__scene .app__scene--left>li:nth-child(2) {
        margin-left: 0%;
    }
    .app__scene .app__scene--left>li:nth-child(3) {
        margin-left: -100%;
    }
    .app__scene .app__scene--right>li:nth-child(1) {
        margin-right: -100%;
    }
    .app__scene .app__scene--right>li:nth-child(3) {
        margin-right: -150%;
    }
    .app__scene ul {
        height: 75vh;
    }
    .app__content {
        padding: 2% 0px;
    }
    .app__content h1 {
        font-size: 4rem;
    }
    .app__content p {
        font-size: 1.3rem;
    }
    .app__content h2 {
        margin: 12% 0;
        font-size: 1.6rem;
    }
    .app__content button {
        /*margin-top: 5%;*/
        padding: 3.5% 15%;
    }
    .app-nav-wrapper__content li {
        font-size: 2.5rem;
        margin: 12% 0;
    }
    .app-nav-wrapper__content li:hover {
        text-decoration: line-through;
    }
    /* ==========================================================================
    About section
   ========================================================================== */
    .app__timer {
        width: 50%;
        left: 25%;
    }
    .app__timer p {
        font-size: 1.6rem;
    }
    .app-about__title {
        height: 30%;
        padding-top: 0;
    }
    .app-about__title h1 {
        font-size: 2.8rem;
        margin: 0;
    }
    .app-about__content {
        text-align: left;
        height: 70%;
        padding: 0 12%;
    }
    .app-about__content p {
        font-size: 1.40rem;
    }
    /* ==========================================================================
    Message section
   ========================================================================== */
   .app-message {
       height: 60vh;
   }
   .app-message__content {
        padding: 5vw 5%;
    }
    .app-message__content .message__content--msg {
        font-size: 1.5rem;
    }
    .octicon {
        top: -5px;
        left: -15px;
    }
    .app-message__content .message__content--auth {
        padding: 0 3%;
    }
    .message__content--auth ul>li:nth-child(1) {
        margin-right: 20px;
    }
    .message__content--auth p {
        color: #535353;
        font-size: 1.8rem;
    }
    /* ==========================================================================
    Event section
   ========================================================================== */
    .app-event__title {
        height: 30%;
    }
    .app-event__title h1 {
        font-size: 2.8rem;
        margin: 0;
    }
    .app-event__tile {
        height: 70%;
    }
    .app-event__tile .event__tile {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    /* ==========================================================================
   Events description section
   ========================================================================== */
    .app-event-desc__head {
        padding: 0 3%;
    }
    .event-desc__content .desc-content {
        margin: 2%;
    }
    .event-desc__content .desc-content>ul>li {
        margin: 2% 0;
        font-size: 1rem;
        cursor: pointer;
    }
    .event-desc__content .desc-content>p {
        font-size: 1rem;
    }
    .event-desc__content .desc-link {
        margin: 3% 0;
    }
    .event-desc__content .desc-link>i {
        margin-left: 2%;
    }
    .event-desc__content .desc-seperator::before,
    .event-desc__content .desc-seperator::after {
        width: 36%;
    }
    .event-desc__content .desc-seperator::before {
        left: 2%;
    }
    .event-desc__content .desc-seperator::after {
        right: 2%;
    }
    .event-desc__content .desc-seperator>img {
        height: 100%;
        width: auto;
        margin: 0 5px;
    }
    /* ==========================================================================
    Team section
   ========================================================================== */
    .app-team__title {
        height: 30vh;
    }
    .app-team__title h1 {
        font-size: 2.8rem;
        margin: 0;
    }
    .app-team__content {
        height: auto;
    }
    .app-team__content .team__content--tile {
        cursor: pointer;
        width: calc(100%/6);
        height: 150px;
    }
    .team__content--tile>img {
        width: 100%;
        height: auto;
    }
    /* ==========================================================================
    Sponsor section
   ========================================================================== */
    .app-sponsor {
        height: 100vh;
    }
    .app-sponsor__content {
        padding: 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .app-sponsor__content h1 {
        font-size: 2.8rem;
        height: auto;
        display: block;
        text-align: left;
    }
    .app-sponsor__content ul {
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .app-sponsor__content ul>li {
        width: 20%;
        margin: 2% 2%;
    }
    .app-sponsor__content ul>li>img {
        padding-top: 30px;
        padding-bottom: 30px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    .app-sponsor__content ul>li>img:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
    .app-sponsor__content button {
        max-width: 250px;
        display: inline-block;
        margin: 0;
        padding: 2.5vh 0%;
    }
    /* ==========================================================================
    Footer
   ========================================================================== */
    .footer ul {
        width: 15%;
    }
    .footer ul>li {
        cursor: pointer;
    }
}

@media (min-width: 1200px) {
    .app__scene .app__scene--left>li:nth-child(1) {
        margin-left: -150%;
    }
    .app__scene .app__scene--left>li:nth-child(2) {
        margin-left: 50%;
    }
    .app__scene .app__scene--left>li:nth-child(3) {
        margin-left: -150%;
    }
    .app__scene .app__scene--right>li:nth-child(1) {
        margin-right: -150%;
    }
    .app__scene .app__scene--right>li:nth-child(3) {
        margin-right: -200%;
    }
    .app__content h1 {
        font-size: 5rem;
    }
    .app__content p {
        font-size: 1.5rem;
    }
    .app__content h2 {
        margin: 15% 0;
        font-size: 2rem;
    }
    /* ==========================================================================
    About section
   ========================================================================== */
    .app__timer {
        width: 40%;
        left: 30%;
    }
    .app__timer p {
        font-size: 2rem;
    }
    .app-about__title {
        height: 40%;
    }
    .app-about__title h1 {
        font-size: 3rem;
    }
    .app-about__content {
        height: 60%;
    }
    .app-about__content p {
        font-size: 1.65rem;
    }
    /* ==========================================================================
    Message section
   ========================================================================== */
    .app-message__content .message__content--msg {
        font-size: 1.75rem;
    }
    .message__content--auth p {
        font-size: 2rem;
    }
    /* ==========================================================================
    Event section
   ========================================================================== */
    .app-event__title {
        height: 40%;
    }
    .app-event__title h1 {
        font-size: 3rem;
    }
    .app-event__tile {
        height: 60%;
    }
    /* ==========================================================================
   Events description section
   ========================================================================== */
    .event-desc__content .desc-content>ul>li {
        margin: 1% 0;
    }
    .event-desc__content .desc-link>i {
        margin-left: 1%;
    }
    .event-desc__content .desc-seperator::before,
    .event-desc__content .desc-seperator::after {
        width: 40%;
    }
    /* ==========================================================================
    Team section
   ========================================================================== */
    .app-team__title {
        height: 40vh;
    }
    .app-team__title h1 {
        font-size: 3rem;
    }
    /* ==========================================================================
    Sponsor section
   ========================================================================== */
    .app-sponsor__content {
        padding: 5%;
    }
    .app-sponsor__content h1 {
        font-size: 3rem;
    }
    /* ==========================================================================
    Footer
   ========================================================================== */
    .footer ul {
        width: 10%;
    }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
