/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000067;
    font-family: Avenir Next;
    text-align: center;
}

.app {
    background: url(../img/app-bg.jpg) center center no-repeat;
    color: white;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.app::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(17, 36, 255, 0.84);
}

.app__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3%;
    z-index: 1;
    height: 10%;
    padding: 0 3%;
}

.app__nav--menu {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #ff00f9;
    justify-content: center;
}

.app__nav--logo img {
    width: 75%;
    height: auto;
}

.app__nav--menu {
    cursor: pointer;
}

.app__scene {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    transform: rotate(-4deg);
}

.app__scene .app__scene--left > li:nth-child(2) {
    margin-left: -30%;
}

.app__scene .app__scene--right > li:nth-child(1) {
    margin-left: 30%;
}

.app__scene ul {
    list-style: none;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app__content {
    position: relative;
    margin: 0 auto;
    z-index: 5;
    height: 100%;
    padding: 10% 0px;
}

.app__content h1 {
    font-size: 52px;
    font-weight: bold;
    text-shadow: 6px 6px #000000;
}

.app__content p {
    font-size: 20px;
    margin: 5% 0;
}

.app__content h2 {
    margin: 20% 0;
    font-size: 24px;
    font-weight: 400;
}

.app__content button {
    border: none;
    background: #00cbff;
    cursor: pointer;
    color: #ffffff;
    margin-top: 15%;
    padding: 5% 15%;
    border-radius: 50px;
    font-size: 20px;
}

.app__timer {
    position: absolute;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -50px;
    width: 90%;
    height: 100px;
    left: 5%;
    border-radius: 10px;
    box-shadow: 0 6px 10px 0 rgba(141, 141, 141, 0.5);
    z-index: 10;
}

.app__timer p {
    color:#535353;
    margin: 0;
    font-size: 1.2rem;
}

/* === About section === */

.app-about {
    height: 100vh; 
    position: relative;
    z-index: 9;  
}

.app-about__title {
    align-items: center;
    background-color: #faff00;
    display: flex;
    height: 30%;
    justify-content: center;
}

.app-about__title  h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 25%;
}

.app-about__content {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70%;
    padding: 0 10%;
}

.app-about__content p {
    color: #535353;
    font-size: 1.3rem;
    margin: 0;
}

/* === Message section === */

.app-message {
    background-color: #9bffc6;
    height: 60vh;
}

.app-message__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 5%;
}

.app-message__content .message__content--msg {
    color: #ffffff;
    font-size: 1.3rem;
    position: relative;
    text-align: left;
    z-index: 1;
}

.octicon {
    position: absolute;
    top: -10px;
    left: -5px;
    z-index: -1;
}

.app-message__content .message__content--auth {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

.message__content--auth ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.message__content--auth ul > li {
    border-radius: 50%;
    border: 4px solid #ffffff;
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.message__content--auth ul > li:nth-child(1) {
    margin-right: 10px;
}

.message__content--auth ul > li.active{
    background: #ffffff;
}

.message__content--auth p {
    color: #535353;
    font-size: 1.45rem;
}

.app-message__image {
    background: url(../img/msg-bg.png) center center no-repeat;
    background-size: cover;
    position: relative;
}

/* === Event section === */

.app-event {
    height: 100vh;
}

.app-event__title {
    align-items: center;
    background-color: #ff0053;
    display: flex;
    height: 20%;
    justify-content: center;
}

.app-event__title h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
}

.app-event__tile {
    background: #ffffff;
    height: 80%;
    padding: 0;
    cursor: pointer;
}

.app-event__tile .event__tile {
    height: 50%;
    background: #ffffff;
    width: 50%;
    float: left;
    padding: 10% 5%;
}

.app-event__tile .event__tile:nth-of-type(1) {
    background: #d4d4d4;
}

.app-event__tile .event__tile:nth-of-type(4) {
    background: #d4d4d4;
}

.app-event__tile .event__tile > h2 {
    margin-bottom: 15px;
}

.app-event__tile .event__tile > p {
    color:#999999;
}

/* === Team section === */

.app-team {
    height: auto;
}

.app-team__title {
    align-items: center;
    background-color:#7c00ff;    
    display: flex;
    height: 20vh;
    justify-content: center;
}

.app-team__title h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
}

.app-team__content {
    padding: 0;
}

.app-team__content .team__content--tile {
    height: 33.33vw;
    width: 33.33vw;
    float: left;
    overflow: hidden;
}

.app-team__content .team__content--tile > img {
    width: 100%;
    height: auto;
}

.app-sponsor {
    height: auto;
    background-color: #00d8ce;
}

.app-sponsor__content h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-sponsor__content ul {
    list-style: none;
    padding: 0;
}

.app-sponsor__content ul > li {
    margin-bottom: 7%;
}

.app-sponsor__content button {
    border: none;
    color: #ffffff;
    cursor: pointer;
    margin: 6% auto;
    padding: 5% 10%;
    border-radius: 100px;
    background-color: #00eee3;
}

.app-sponsor__image {
    background: url(../img/ty-bg.png) center center no-repeat;
    background-size: cover;
    position: relative;
}

/* === Footer section === */

.footer {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#282828;
    color: #ffffff;
    padding: 0 5%;
}

.footer p {
    margin-bottom: 0;
}

.footer ul {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul > li {
    height: 25px;
    width: 25px;
    overflow: hidden;
}

.footer ul > li img {
    width: 100%;
    height: auto;
}

/* .message-content {
    padding: 50px;
    font-size: 42px;
    color: white;
    text-align: left;
}

.message-content>p {
    color: #535353;
    text-align: right;
}

.message-image {
    width: 100%;
    height: 100%;
} */

.hide{display:none !important}.show{display:block !important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none !important}.affix{position:fixed}@-ms-viewport{width:device-width}.visible-xs,.visible-sm,.visible-md,.visible-lg{display:none !important}.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block{display:none !important}@media (max-width:767px){.visible-xs{display:block !important}table.visible-xs{display:table !important}tr.visible-xs{display:table-row !important}th.visible-xs,td.visible-xs{display:table-cell !important}}@media (max-width:767px){.visible-xs-block{display:block !important}}@media (max-width:767px){.visible-xs-inline{display:inline !important}}@media (max-width:767px){.visible-xs-inline-block{display:inline-block !important}}@media (min-width:768px) and (max-width:991px){.visible-sm{display:block !important}table.visible-sm{display:table !important}tr.visible-sm{display:table-row !important}th.visible-sm,td.visible-sm{display:table-cell !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-block{display:block !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline{display:inline !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline-block{display:inline-block !important}}@media (min-width:992px) and (max-width:1199px){.visible-md{display:block !important}table.visible-md{display:table !important}tr.visible-md{display:table-row !important}th.visible-md,td.visible-md{display:table-cell !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-block{display:block !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline{display:inline !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline-block{display:inline-block !important}}@media (min-width:1200px){.visible-lg{display:block !important}table.visible-lg{display:table !important}tr.visible-lg{display:table-row !important}th.visible-lg,td.visible-lg{display:table-cell !important}}@media (min-width:1200px){.visible-lg-block{display:block !important}}@media (min-width:1200px){.visible-lg-inline{display:inline !important}}@media (min-width:1200px){.visible-lg-inline-block{display:inline-block !important}}@media (max-width:767px){.hidden-xs{display:none !important}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none !important}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none !important}}@media (min-width:1200px){.hidden-lg{display:none !important}}.visible-print{display:none !important}@media print{.visible-print{display:block !important}table.visible-print{display:table !important}tr.visible-print{display:table-row !important}th.visible-print,td.visible-print{display:table-cell !important}}.visible-print-block{display:none !important}@media print{.visible-print-block{display:block !important}}.visible-print-inline{display:none !important}@media print{.visible-print-inline{display:inline !important}}.visible-print-inline-block{display:none !important}@media print{.visible-print-inline-block{display:inline-block !important}}@media print{.hidden-print{display:none !important}}

/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    min-height: 0;
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (min-width: 1200px) {
    /* Style adjustments for viewports that meet the condition */
    .app__scene {
        display: flex;
        position: absolute;
        width: 60%;
        justify-content: space-between;
        align-items: center;
        bottom: 0;
        left: 15%;
        z-index: 6;
        transform: rotate(-4deg);
    }
    
    .app__scene .app__scene--left > li:nth-child(2) {
        margin-left: 50%;
    }
    
    .app__scene .app__scene--right > li:nth-child(1) {
        margin-left: 50%;
    }

    .app__scene .app__scene--right > li:nth-child(3) {
        margin-left: 100%;
    }
    
    .app__scene ul {
        height: 75vh;
    }
    
    .app__content {
        padding: 5% 0px;
    }
    
    .app__content h1 {
        font-size: 5rem;
        font-weight: bold;
        text-shadow: 6px 6px #000000;
    }
    
    .app__content p {
        font-size: 1.5rem;
    }
    
    .app__content h2 {
        margin: 15% 0;
        font-size: 2rem;
    }
    
    .app__content button {
        margin-top: 5%;
        padding: 3.5% 15%;
    }
    
    .app__timer {
        position: absolute;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -50px;
        width: 50%;
        height: 100px;
        left: 25%;
        box-shadow: 0 6px 10px 0 rgba(141, 141, 141, 0.5);
    }
    
    .app__timer p {
        font-size: 2rem;
    }

    .app-about__title {
        height: 40%;
        padding-top: 0;
    }
    
    .app-about__title  h1 {
        font-size: 3rem;
        margin: 0;
    }
    
    .app-about__content {
        text-align: left;
        height: 60%;
        padding: 0 12%;
    }

    .app-about__content p {
        font-size: 1.65rem;
    }    
    
    .app-message__content {
        padding: 5% 5%;
    }
    
    .app-message__content .message__content--msg {
        font-size: 1.75rem;
    }
    
    .octicon {
        top: -5px;
        left: -15px;
    }
    
    .app-message__content .message__content--auth {
        padding: 0 3%;
    }
    
    .message__content--auth ul > li:nth-child(1) {
        margin-right: 20px;
    }
    
    .message__content--auth p {
        color: #535353;
        font-size: 2rem;
    }
    
    .app-event__title {
        height: 40%;
    }
    
    .app-event__title h1 {
        font-size: 3rem;
        margin: 0;
    }
    
    .app-event__tile {
        height: 60%;
    }

    .app-event__tile .event__tile {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    
    .app-team__title {
        height: 40vh;
    }

    .app-team__title h1 {
        font-size: 3rem;
        margin: 0;
    }
    
    .app-team__content {
        height: auto;
    }
    
    .app-team__content .team__content--tile {
        cursor: pointer;
        height: auto;
        width: 20%;
    }

    .app-sponsor {
        height: 100vh;
    }
    
    .app-sponsor__content {
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .app-sponsor__content h1 {
        font-size: 3rem;
        height: auto;
        display: block;
        text-align: left;
    }
    
    .app-sponsor__content ul {
        margin-top: 0;
    }
    
    .app-sponsor__content ul > li {
        float: left;
        margin: 2% 2%;
    } 

    .app-sponsor__content button {
        max-width: 250px;
        display: inline-block;
        margin: 0;
        padding: 2% 0%;
    }

    .footer ul {
        width: 15%;
    }
    
    .footer ul > li {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}