/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000067;
    font-family: Avenir Next;
    text-align: center;
}

.app {
    background: url(../img/app-bg.jpg) center center no-repeat;
    color: white;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.app::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(17, 36, 255, 0.84);
}

.app-about {
    height: 100vh;   
}

.app-about__title {
    align-items: center;
    background-color: #faff00;
    display: flex;
    height: 25%;
    justify-content: center;
    padding-top: 10%;
}

.app-about__title  h1 {
    color: #ffffff;
    font-size: 2.5rem;
}

.app-about__content {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 75%;
    padding: 0 10%;
}

.app-about__content p {
    color: #535353;
    font-size: 1.35rem;
}

.app-message {
    background-color: #9bffc6;
    height: 60vh;
}

.app-message__content {
    padding: 10% 5%;
}

.app-message__content .message__content--msg {
    color: #ffffff;
    font-size: 1.35rem;
    height: 95%;
    position: relative;
    text-align: left;
    z-index: 1;
}

.octicon {
    position: absolute;
    top: -10px;
    left: -5px;
    z-index: -1;
}

.app-message__content .message__content--auth {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

.message__content--auth ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.message__content--auth ul > li {
    border-radius: 50%;
    border: 4px solid #ffffff;
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.message__content--auth ul > li:nth-child(1) {
    margin-right: 10px;
}

.message__content--auth ul > li.active{
    background: #ffffff;
}

.message__content--auth p {
    color: #535353;
    font-size: 1.45rem;
}

.app-message__image {
    background: url(../img/msg-bg.png) center center no-repeat;
    background-size: cover;
    position: relative;
}

/*.app-sponsor {
    background-color: #00d8ce;
}

.message-content {
    padding: 50px;
    font-size: 42px;
    color: white;
    text-align: left;
}

.message-content>p {
    color: #535353;
    text-align: right;
}

.message-image {
    width: 100%;
    height: 100%;
} */


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    min-height: 0;
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    .app-about__title {
        height: 40%;
        padding-top: 0;
    }
    
    .app-about__title  h1 {
        font-size: 3rem;
    }
    
    .app-about__content {
        text-align: left;
        height: 60%;
        padding: 0 12%;
    }

    .app-about__content p {
        font-size: 1.65rem;
    }    
    
    .app-message__content {
        padding: 15% 5%;
    }
    
    .app-message__content .message__content--msg {
        font-size: 2.25rem;
    }
    
    .octicon {
        top: -15px;
        left: -15px;
    }
    
    .app-message__content .message__content--auth {
        padding: 0 3%;
    }
    
    .message__content--auth ul > li:nth-child(1) {
        margin-right: 20px;
    }
    
    .message__content--auth p {
        color: #535353;
        font-size: 2rem;
    }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}